*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

html, body{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
}

.back-color-light{
    background-color: rgb(245, 245, 245);
}

.back-color-dark{
    background-color: #383838;
}