.footer{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-light{
    background-color: #7077A1;
}

.footer-dark{
    background-color: #242424;
}

.images-footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#html{
    width: 85px;
    height: 50px;
}

#javaScript{
    width: 40px;
    height: 48px;
    margin-right: 5px;
}

#css{
    width: 53px;
    height: 53px;
}