.main-galeria{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.titulo-image{
    width: 100%;
    max-height: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 70px;
}

.pontos-turisticos{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.icones{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.subtitulo{
    width: 100%;
    max-height: 150px;
    height: 100%;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao{
    width: 100%;
    max-height: 520px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.sessao-reverse{
    width: 100%;
    max-height: 520px;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.text-titulo{
    width: 100%;
    height: 400px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-titulo-reverse{
    width: 100%;
    height: 400px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulo-sessao{
    text-align: center;
    font-size: 28px;
}

.text{
    text-align: justify;
    font-size: 18px;
}

.image{
    margin: 40px;
}

#marco-zero{
    max-width: 770px;
}

#alto-da-se{
    max-width: 680px;
}

#brennand{
    max-width: 650px;
}

#mauro-shampoo{
    max-width: 380px;
}

.feedback{
    width: 100%;
    max-height: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    margin: 25px 0 50px 0;
}

.area-mensagem{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: 1s;
}

.textarea{
    max-width: 350px;
    width: 100%;
    height: 120px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
}

.btn-form{
    max-width: 100px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 40px;
    background-color: #2D3250;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.esconder{
    opacity: 0;
    filter: blur(15px);
    transition: all 1.5s;
    transform: translateX(100%);
}

.esconderReverse{
    opacity: 0;
    filter: blur(2px);
    transition: all 1.5s;
    transform: translateX(-100%);
}

.mostrar{
    opacity: 1;
    filter: blur(0);
    transition: all 2s;
    transform: translateX(0);
}

@media screen and (max-width: 1260px) {
    .pontos-turisticos{
        display: flex;
        gap: 150px;
        margin: 40px 0 70px 0;
    }

    .icones{
        display: flex;
        gap: 120px;
    }

    .sessao{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .sessao-reverse{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .image{
        margin: 0;
    }

    #marco-zero{
        max-width: 680px;
    }
    
    #alto-da-se{
        max-width: 590px;
    }
    
    #brennand{
        max-width: 560px;
    }

    #mauro-shampoo{
        max-width: 340px;
    }

    .text-titulo{
        margin: 0;
    }

    .text-titulo-reverse{
        margin: 0;
    }

    .text{
        margin: 25px;
    }

    .feedback{
        margin-top: 80px;
    }
}

@media screen and (max-width: 730px) {
    .titulo-image{
        font-size: 16px;
    }

    .subtitulo{
        font-size: 26px;
    }

    .pontos-turisticos{
        display: flex;
        gap: 50px;
        margin: 0 0 70px 0;
    }

    .icones{
        display: flex;
        gap: 80px;
    }

    .titulo-sessao{
        font-size: 23px;
    }

    #marco-zero{
        max-width: 350px;
    }
    
    #alto-da-se{
        max-width: 350px;
    }
    
    #brennand{
        max-width: 340px;
    }

    #mauro-shampoo{
        max-width: 260px;
    }

    #gildo{
        max-width: 350px;
    }

    #chico-science{
        max-width: 350px;
    }

    .textarea{
        max-width: 280px;
    }
}