.main-login{
    width: 100%;
    height: 79%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    background-color: #424769;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 410px;
    width: 100%;
    min-height: 450px;
    gap: 35px;
    transition: 0.5s;
}

.image-login{
    width: 365px;
}

.text{
    font-size: 28px;
    color: white;
    font-weight: bold;
}

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    transition: 0.5s;
}

.input-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.input-login{
    width: 100%;
    height: 28px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.btn-login{
    cursor: pointer;
    max-width: 140px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #7077A1;
}

.cadastre-se{
    color: #c2c6e2;
}

@media screen and (max-width: 730px){
    .login{
        margin: 20px;
    }

    .image-login{
        width: 300px;
    }

    .text{
        font-size: 24px;
    }
}