.header{
    width: 100%;
    background-color: #7077A1;
    height: 11%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.image-header{
    width: 60px;
    margin-left: 40px;
}

.menu-desktop{
    margin-right: 40px;
    display: flex;
    gap: 40px;
    transition: 3s;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: end;
}

.opcoes{
    font-size: 20px;
    color: white;
    transition: 0.5s;
}

.opcoes:hover{
    padding: 10px;
    background-color: #2D3250;
    border-radius: 30px;
}

#opcao-selecionada{
    padding: 10px;
    background-color: #2D3250;
    border-radius: 30px;
}

.container-header-desktop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-menu-mobile{
    display: none;
}

.menu-mobile{
    display: none;
}

.container-opcao-mobile{
    display: none;
}

@media screen and (max-width: 730px) {
    .menu-desktop{
        display: none;
    }

    .mobile-menu-icon{
        width: 100%;
    }

    .btn-menu-mobile{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 30px;
    }

    .container-opcao-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        width: 145px;
        right: 30px;
        top: 75px;
        padding: 20px;
        background-color: #9CA2D1;
        transition: 0.5s;
    }

    .opcoes-mobile{
        font-size: 16px;
        color: white;
    }

    #opcao-selecionada-mobile{
        color: #1e275e;
    }
}